{"category":[["Category ID","Category name"],["id","goods_name"],["int","string"],["1","Agriculture \u0026 Food"],["2","Apparel,Textiles \u0026 Accessories"],["3","Auto \u0026 Transportation"],["4","Bags, Shoes \u0026 Accessories"],["5","Electronics"]],"mobile":[["Goods Id","Goods Name","价格"],["id","goods_name","price"],["int","string","float"],["1","Apple","5999.99"],["2","Mobile","1999"]]}